* {
  padding: 0px;
  margin: 0px;
}

.header {
  height: 94px;
  background-color: #3a72b5;
  color: white;
  text-align: center;
  font-size: 28px;
}

.header p {
  position: relative;
  top: 25px;
}

.main-body {
  border-radius: 8px;
  background-color: #dbdbdb;
  margin: 102px 275px 0px;
  padding: 45px 55px 30px;
}

.text-box-left {
  width: 608px;
  height: 275px;
  border-radius: 8px;
  background-color: white;
  display: inline-block;
  margin-right: 40px;
}

.text-box-right {
  width: 608px;
  height: 275px;
  border-radius: 8px;
  background-color: white;
  display: inline-block;
}

.text-box-bottom {
  width: 1260px;
  height: 275px;
  border-radius: 8px;
  background-color: white;
  margin-top: 30px;
}

p {
  font-family: "Roboto", sens-serif;
  font-size: 36px;
  font-weight: 700;
}

.header p {
  font-size: 28px;
  font-weight: 400;
}

.text-box-left p {
  padding-left: 30px;
  position: relative;
  top: 110px;
}

.text-box-right p {
  position: relative;
  left: 235px;
  top: 210px;
}

.text-box-bottom p {
  padding: 30px;
}

.para2 {
  position: relative;
  top: 55px;
}

.circle {
  background-color: #252f89;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  left: 1000px;
  bottom: 145px;
}
