* {
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

header {
  background-color: #3a72b5;
  min-height: 6rem;
}

.main {
  background-color: #dbdbdb;
  margin: 6rem auto;
  max-width: 74%;
  height: 65vh;
  border-radius: 8px;
}

.container-details {
  height: 40%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  padding: 3rem 4rem 1rem;
  gap: 2.5rem;
}

.box-detail {
  background-color: #fff;
  border-radius: 8px;
  width: 50%;
  padding: 2rem;
}

#container-address span {
  margin-left: 2rem;
}

.container-photos {
  height: 40%;
  display: flex;
  align-items: center;
  margin: 1.5rem 4rem;
  gap: 2.5rem;
}

.container-option {
  height: 100%;
  width: 33.3%;
  background-color: #fff;
  border-radius: 8px;
}

#option1,
#option3 {
  height: 70%;
}

#option2 {
  width: 19%;
}
