* {
  padding: 0px;
  margin: 0px;
  /*display: flex;
  flex-direction: column;*/
}

.header {
  height: 94px;
  background-color: #3a72b5;
  color: white;
  text-align: center;
  font-size: 28px;
}

.header p {
}

.main-body {
  border-radius: 8px;
  background-color: #dbdbdb;
  margin: 102px 275px 0px;
  padding: 45px 55px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-box-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.text-box-left {
  width: 608px;
  height: 275px;
  border-radius: 8px;
  background-color: white;
}

.text-box-right {
  width: 608px;
  height: 275px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.text-box-bottom {
  width: 1260px;
  height: 275px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

p {
  font-family: "Roboto", sens-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 20px;
}

.header p {
  font-size: 28px;
  font-weight: 400;
  margin: auto;
  padding-top: 20px;
}

.paragraph-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  background-color: #252f89;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 60px 60px;
}
