* {
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #3a72b5;
  height: 6rem;
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #fff;
}

.icon-pic {
  background-color: #dbdbdb;
  height: 5rem;
  width: 5rem;
  border-radius: 50px;
  position: relative;
  top: 3rem;
}

.button-profile {
  font-size: 22px;
  color: #3a72b5;
  border-radius: 6px;
  border-color: #fff;
  border-style: hidden;
  padding: 0.5rem 1.25rem;
}

.main {
  background-color: #dbdbdb;
  margin: 6rem auto;
  width: 74%;
  height: 65vh;
  border-radius: 6px;
}

.icon-red {
  background: #ae2727;
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  position: relative;
  left: 49.75%;
  bottom: 5%;
}

.card-container {
  border: solid white 2px;
  display: flex;
}

.card {
  border: solid black 2px;
  border-radius: 6px;
  background-color: #fff;
  height: 18rem;
  width: 18rem;
}
