* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 786px;
  justify-content: center;
}

.header {
  min-height: 94px;
  background-color: #3a72b5;
  color: white;
  text-align: center;
  display: flex;
}

.main-body {
  border-radius: 8px;
  background-color: #dbdbdb;
  margin: 5rem auto;
  padding: 3rem 3rem;
  min-width: 60%;
  min-height: 80%;
}

.text-box-top {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
  min-height: 50%;
}

.text-box-left {
  border-radius: 8px;
  background-color: white;
  min-width: 48%;
  min-height: 50%;
  display: flex;
  height: 17rem;
}

.text-box-right {
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 48%;
  min-height: 50%;
}

.text-box-bottom {
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  flex: 1 1 auto;
}

span {
  font-family: "Roboto", sens-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 2rem;
}

.header span {
  font-size: 28px;
  font-weight: 400;
  margin: auto;
}

.paragraph-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  background-color: #252f89;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  margin: 4em 4em;
}
